html
  head
    title #{title}
    meta(content = '#FFFFFF' name = 'theme-color')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css" lazyload)
    link(href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" rel = "stylesheet", type = "text/css" lazyload)
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css", rel="stylesheet" lazyload)
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css", rel="stylesheet" lazyload)
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" lazyload)
    link(href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" lazyload)
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" lazyload)
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", lazyload)
    link(href="/navbar.css", rel="stylesheet", type="text/css" lazyload)
    link(href="/main.css", rel="stylesheet", type="text/css" lazyload)
  body
    block content
