<h2>Comparing Similar Algorithm's</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Best Case</th>
            <th>Worst Case</th>
            <th>Avg Case</th>
            <th>Stable</th>
            <th>In-Place</th>
            <th>Adaptive</th>
            <th>Exchange</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><b>Insertion Sort</b></td>
        <td>O(n)</td>
        <td>O(n<sup>2</sup>)</td>
        <td>O(n<sup>2</sup>)</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
    </tr>
    <tr>
        <td><b>Selection Sort</b></td>
        <td>O(n<sup>2</sup>)</td>
        <td>O(n<sup>2</sup>)</td>
        <td>O(n<sup>2</sup>)</td>
        <td>No*</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
    </tr>
    <tr>
        <td><b>Merge Sort</b></td>
        <td>O(n log n)</td>
        <td>O(n log n)</td>
        <td>O(n log n)</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>No*</td>
    </tr>
    <tr>
        <td><b>Quicksort</b></td>
        <td>O(n log n)</td>
        <td>O(n<sup>2</sup>)</td>
        <td>O(n log n)</td>
        <td>No</td>
        <td>No*</td>
        <td>No</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td><b>Bubble Sort</b></td>
        <td>O(n)</td>
        <td>O(n<sup>2</sup>)</td>
        <td>O(n<sup>2</sup>)</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
    </tr>
    </tbody>
</table>
<p>* <i>Can be easily rectified if there is a small modification done</i></p>