<h2>Types of Sorting Algorithms</h2>
<br/>
<table class="table table-hover comput">
    <tbody>
    <tr>
        <th>Stable:</th>
        <td>Sort identical elements in the same order that they appear in the input</td>
    </tr>
    <tr>
        <th>In-Place:</th>
        <td>Directly modifies the input instead of creating a new list that is then modified</td>
    </tr>
    <tr>
        <th>Exchange:</th>
        <td>Two elements change places</td>
    </tr>
    <tr>
        <th>Adaptive:</th>
        <td>Algorithm takes into account if input is already sorted</td>
    </tr>
    </tbody>
</table>