<h2>Advantages of Divide & Conquer Algorithms</h2>
<ul>
    <li class="featureList">
        Helps to solve complex problems by breaking them down into trivial problems and combining the results.
    </li>

    <li class="featureList">
        Often helps in the discovery of more efficient algorithms such as quicksort and mergesort.
    </li>

    <li class="featureList">
        They are naturally adapted for execution in multi-processor machines since
        distinct sub-problems can be executed on different processors.
    </li>

    <li class="featureList">
        They tend to make efficient use of memory caches since that once a sub-problem is small enough,
        it and all its sub-problems can be solved within the cache,
        without accessing the slower main memory.
    </li>

    <li class="featureList">
        In computations with rounded arithmetic (eg.floating point numbers)
        they may yield more accurate results than a
        superficially equivalent iterative method.
    </li>
</ul>