<h2>Features</h2>

<p><span class="glyphicon glyphicon-ok"/>Animation</p>
<p><span class="glyphicon glyphicon-ok"/>Step-by-Step&ensp;Process</p>
<p><span class="glyphicon glyphicon-ok"/>When&ensp;is&ensp;it&ensp;useful</p>
<p><span class="glyphicon glyphicon-ok"/>Quizzes</p>
<p><span class="glyphicon glyphicon-ok"/>Comparisons&ensp;to&ensp;similar&ensp;algorithms</p>
<p><span class="glyphicon glyphicon-ok"/>Performance&ensp;of&ensp;algorithms</p>
<p><span class="glyphicon glyphicon-ok"/>Different&ensp;Types&ensp;within&ensp;an&ensp;algorithm&ensp;type</p>
