<h2>Types of Computational Geometry Problems</h2>
<br/>
<table class="table table-hover comput">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
    </colgroup>
    <tbody>
    <tr>
        <th>Static</th>
        <td><b><u style="color: #c33c3c">Definition</u></b>
            <br/>Input is given & the corresponding output needs to be constructed or found
            <br/>
            <br/><b><u style="color: #c33c3c">Example</u></b>
            <br/><b style="color: #116e65">Convex Hull :</b> Given a set of points
            find the smallest shape that contains the points on the outside
            <br/><b style="color: #116e65">line segment intersection :</b> Find all the intersections
        of a group of line segments</td>
    </tr>
    <tr>
        <th>Geometric Query</th>
        <td><b><u style="color: #c33c3c">Definition</u></b>
            <br/>Input has a search space and a query. These vary over the problem's instances
            <br/>
            <br/><b><u style="color: #c33c3c">Example</u></b>
            <br/><b style="color: #116e65">Range Searching :</b> Process's a set of points
            and counts the number of points inside a certain region
            <br/><b style="color: #116e65">Nearest Neighbour :</b> Process's a set of points
        and determines which point is closest to a certain point</td>
    </tr>
    <tr>
        <th>Dynamic</th>
        <td><b><u style="color: #c33c3c">Definition</u></b>
            <br/>The main aim is to find an efficient algorithm that will find a solution repeatedly
        after each modification of the input data
        <br/>
        <br/><b><u style="color: #c33c3c">Example</u></b>
        <br/><b style="color: #116e65">Dynamic Convex Hull</b></td>
    </tr>
    <tr>
        <th>Variations</th>
        <td><b><u style="color: #c33c3c">Definition</u></b>
            <br/>Problems may be categorized as belonging to one or more of these groups
            <br/>
            <br/><b><u style="color: #c33c3c">Example</u></b>
            <br/><b style="color:#116e65">Point in polygon :</b> Deciding whether its inside or outside a given polygon.
            <br/>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
            This can be seen as either a static or Geometric Query</td>
    </tr>
    </tbody>
</table>