<h2>Types of Network Flow Problems</h2>
<br/>
<table class="table table-hover comput">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
    </colgroup>
    <tbody>
    <tr>
        <th>Max Flow</th>
        <td>A start vertex (s) is given, a goal vertex (t) is given and the network of
            vertices and edges with flow capacties are given. The goal is
        to maximise the flow from vertex (s) to vertex (t).</td>
    </tr>
    <tr>
        <th>Minimum Cost</th>
        <td>A start vertex (s) is given, a goal vertex (t) is given, the network of
            vertices and edges with flow capacties are given. Each edge also has a
            cost associated with it. The goal is to minimise the cost while
            maximising the flow from vertex (s) to vertex (t).</td>
    </tr>
    <tr>
        <th>Bipartite Matching</th>
        <td>A set of edges are provided. The goal is to find a maximum matching of the
        edges so that no two edges share the same endpoint.</td>
    </tr>
    </tbody>
</table>