.brand-logo > h2 {
    margin: 4px;
}

body {
    background-color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li Link:hover:not(.active) {
    background-color: #111;
}


.content {
    /*margin: top,right,bottom,left*/
    margin: 45px 20px 25px 20px;
    background-color:white;
    text-indent: 20px;
    border-radius: 20px ;
    box-shadow: 0 0 20px grey;
}
.contain {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.separator {
    margin: 5px 20px 20px 20px;
    background: white;
    height: 1px;
}
