.brand-logo > h2 {
    margin: 4px;
}

body {
    background-color: lightgray;
}
.list {
    list-style-type: square;
}

p {
    font-size: 20px;
}

.content {
    /*margin: top,right,bottom,left*/
    margin: 45px 20px 25px 20px;
    background-color:white;
    text-indent: 20px;
    border-radius: 20px ;
    box-shadow: 0 0 20px grey;
}
.contain {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.separator {
    margin: 5px 20px 20px 20px;
    background: white;
    height: 1px;
}

